.edit-contact {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 4px;
  color: #333333;
}

.edit-contact h2 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #333333;
}

.edit-contact form {
  display: flex;
  flex-direction: column;
}

.edit-contact input,
.edit-contact select {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  color: #333333;
}

.edit-contact button {
  padding: 10px 20px;
  background-color: #83C0C1;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.edit-contact button:hover {
  background-color: #608e8f;
}